*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace
}

body{
    background-color: #11313C;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    
    flex-direction: column;
    align-items: center;
    width: 95%;
    max-width: 800px;
    margin: 10px;

}


.section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    padding: 10px;
    width: 100%;

}


.image{
    height: 250px;
    width: 250px;
    object-fit: cover;
    
}

.textBox{
    padding: 10px;
    /* background-color: rgba(255, 255, 255, 0.2); */
    padding: 20px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
}




a{
    height: 100%;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
    flex-wrap: wrap;
}

.standardLink{
    text-decoration:underline;
    
}


.s6{
    background-color: #12232f;
}
.s5{
    background-color: #065465;
}
.s4{
    background-color: #558976;
}
.s3{
    background-color: #354f4f;
}
.s2{
    background-color: #060d12;
}
.s1{
    background-color: #000000;
}
.header{
    background-color: #020212;
}


h1, h2{
    color: white;
    font-size: 2em;
    width: 250px;
}
.white-logo{
    color: #eee;
}

.text-with-logo{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

@media only screen and (max-width: 600px){
    
    .section{
        flex-direction: column;
    }
    .textBox{
        width: 100%;
    }
    .image{
        width: 100%;
    }
}
